﻿@layout EmptyLayout
@page "/"

@inject HttpClient httpClient
@functions {
	protected override Task OnInitializedAsync()
	{
		return httpClient.GetAsync("/api/test");
	}
}

<PageTitle>Vodji Project - Comming soon</PageTitle>

<div class="view-wrapper dark">
	<div id="page-placeholder" class="container">
		<div class="page-placeholder">
			<div class="placeholder-content">
				<img class="dark-image" src="1.svg" alt="">
				<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Давай вместе подождем ?</font></font></h3>
				<p class="is-large">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Очень жаль. </font>
						<font style="vertical-align: inherit;">Похоже, мы еще не дождались. </font>
						<font style="vertical-align: inherit;">Но не волнуйся, думаю скоро уже дождемся.</font>
					</font>
				</p>
			</div>
		</div>
	</div>
</div>
