﻿.dark {
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: #344258;
    overflow: hidden;
}

.view-wrapper {
    padding: 60px 12px;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.page-placeholder {
    min-height: 520px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.page-placeholder .placeholder-content {
    text-align: center;
}

.page-placeholder .placeholder-content p.is-large {
    max-width: 540px;
}

.page-placeholder .placeholder-content p {
    font-size: 1.1rem;
    max-width: 440px;
    margin: 0 auto 12px auto;
    color: #a2a5b9;
}

.dark .dark-image {
    display: block !important;
}

.page-placeholder .placeholder-content img {
    display: block;
    max-width: 340px;
    margin: 0 auto 12px auto;
}
.dark-image {
    display: none !important;
}

.dark .page-placeholder .placeholder-content h3 {
    color: #fff;
}