﻿<HeadContent>
    <!-- fonts -->
    <link href="_content/Vodji.Identity.Client.RazorComponents/fonts/inter/inter.css" rel="stylesheet" />
    <link href="_content/Vodji.Identity.Client.RazorComponents/fonts/fonarto-v.2.0/fonarto.css" rel="stylesheet" />
    <link href="_content/Vodji.Identity.Client.RazorComponents/fonts/titillium_web/titillium.css" rel="stylesheet" />

    <!-- foundation-sites -->
    <link href="_content/Vodji.Identity.Client.RazorComponents/foundation-icons/foundation-icons.css" rel="stylesheet" />
    <link href="_content/Vodji.Identity.Client.RazorComponents/foundation-sites-6.7.2/css/foundation.min.css" rel="stylesheet" />
    <link href="_content/Vodji.Identity.Client.RazorComponents/foundation-sites-6.7.2/css/foundation-rtl.min.css" rel="stylesheet" />
    <link href="_content/Vodji.Identity.Client.RazorComponents/foundation-sites-6.7.2/css/foundation-float.min.css" rel="stylesheet" />
    <link href="_content/Vodji.Identity.Client.RazorComponents/foundation-sites-6.7.2/css/foundation-prototype.min.css" rel="stylesheet" />
</HeadContent>