﻿.container {
    display: flex;
}

    .container .container-box {
        margin: auto;
        width: 30rem;
        background-color: white;
        border-radius: 1rem;
        padding: 1rem 2rem;
    }

.text {
    font-weight: 500;
    font-size: .875rem;
    color: rgb(30, 41, 59);
}

.text-error {
    margin-top: -1rem;
    color: red;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(30, 41, 59);
}

.link {
    color: rgb(99, 102, 241);
}

    .link:hover {
        text-decoration: underline;
    }

.input-text-error {
    border-color: red;
}

.input-text {
    height: 3rem;
    outline: none;
    padding: 1rem;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(226, 232, 240);
}

    .input-text:focus {
        border-color: blue;
    }

.password {
    font-size: .6rem;
}

.line {
    border-bottom: 1px solid rgb(226, 232, 240);
    display: flex;
    height: 2rem;
}

    .line span {
        height: 30px;
        margin: 1rem auto;
        color: rgb(226, 232, 240);
        background-color: white;
        border-left: .5rem;
        border-right: .5rem;
        border-color: white;
        border-style: solid;
    }

.button {
    border-radius: 5px;
}

.button-provider {
    font-size: .875rem;
    background-color: white;
    color: black;
    border: 1px solid #e2e8f0;
}

    .button-provider:hover {
        background-color: rgba(226, 232, 240, .4);
    }
