﻿@inherits SignInComponent

<DefaultStyles />
<div class="container">
    <div class="container-box grid-y">
        <h2>Sign in</h2>
        <span class="text">Don't have an account? <a class="link" href="/Auth/SignUp">Sign up</a></span>

        <div class="padding-top-1">

            <!-- Input Box -->
            <div class="grid-y padding-top-1">
                <label class="text">Email address</label>
                <input type="text" class="input-text" />
                @GetErrorMessage(_emailErrorMessage)
            </div>

            <!-- Input Box -->
            <div class="grid-y padding-top-1">
                <div class="cell form-text">Password</div>
                <input type="password" class="input-text password" />
                @GetErrorMessage(_passwordErrorMessage)
            </div>
        </div>

        <!-- Checkbox Box -->
        <div class="grid-x">
            <div class="small-6">
                <input id="checkbox1" type="checkbox"><label class="text" for="checkbox1">Remember me</label>
            </div>
            <a class="small-6 text-right text link" href="/Auth/ForgotPassword">Forgot password?</a>
        </div>

        <!-- Button -->
        <div class="margin-top-1 small-12 button">
            <span>Sign in</span>
        </div>

        <!-- Line -->
        <div class="line">
            <span>Or continue with</span>
        </div>

        <!-- Social buttons -->
        <div class="grid-x grid-margin-x padding-top-2">
            <!--<div class="cell shrink button button-provider rounded">Microsoft</div>-->
        </div>
    </div>
</div>